<section id="cta" class="cta">
    <div class="container">
        <div class="text-center">
            <h3 class="cta-title">Te ayudamos a construir tu proyecto y negocio</h3>
            <p> Cada uno de nuestros productos está especialmente diseñado para las
                diferentes fases de un proyecto de construcción, desde los tubos para la estructura pasando
                por los accesorios para el ensamble hasta los solventes, masillas o
                soldaduras que necesites para su acabado y funcionamiento.</p>

            <a class="cta-btn" href="https://wa.me/message/FB3A2RNEL7JKG1"> <i class="bi bi-whatsapp"></i>
                Contáctanos</a>
        </div>
    </div>
   </section>